// COLORS
$brown: rgb(179, 123, 101);
$brown2: rgb(167, 42, 42);

$color-orange-dark:#ff7730;

$green: #99cea8d2;
$color-green-dark: #5aac84d0;
$color-green-light: #95dab6;

$color-secondary: #f2e6b1;
$color-secondary-dark: #f1d762;

$red: rgb(248, 196, 196);
$color-red-dark: rgb(223, 63, 63);
$color-blue-light: #9b9ebd;
$color-blue-dark: #3b3e79;

$white: rgb(250, 246, 246);
$black: #000;

$grey: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #333;
$color-grey-dark-2: #999;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 124rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// BORDER RADIUS
$border-radius: 3px;